:host {
  display: block;

  .menu-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    // position: absolute;
    background-color: #fff;
    list-style-type: none;
    padding: 0;

    .menu-item {
      cursor: pointer;
      padding: 0 5px;

      &:hover,
      &.selected {
        background-color: lightgray;
      }
    }
  }
}
