<label for="commentInput" class="block mb-2 text-sm">New Comment:</label>
<textarea
  #commentInput
  data-test-id="comment-input-textbox"
  id="commentInput"
  rows="5"
  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300"
  (keydown.ArrowDown)="arrowUpDown($event)"
  (keydown.ArrowUp)="arrowUpDown($event)"
  (keydown.Tab)="onTabDown()"
  (keyup)="onKeyUp($event)"
  placeholder="Type a comment... @ to mention someone"
></textarea>

@if (showMenu) {
  <div class="menu-container" data-test-id="comment-input-user-mention-menu">
    <ul>
      @for (user of filteredUsers; track $index) {
        <li
          class="menu-item"
          tabindex="-1"
          [class.selected]="$index === selectedIndex"
          (click)="selectUser(user)"
          (keyup)="(null)"
        >
          {{ user.name }}
        </li>
      } @empty {
        <li>No users found</li>
      }
    </ul>
  </div>
}

<div class="flex justify-end mt-4 gap-2">
  <button type="button" mat-stroked-button (click)="onCancelButtonPress()">Cancel</button>
  <button type="button" data-test-id="comment-input-confirm-button" mat-flat-button (click)="onConfirmButtonPress()">
    Post Comment
  </button>
</div>
